@page
@model MiprimeraApp.frontend.Pages.Pacientes.Index1Model
@{
}

<h1>Listado de Pacientes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var paciente in Model.pacientes)
    {
        <tr>
          <td>@paciente.Nombre</td>
          <td>@paciente.Apellidos</td>
        </tr>
    }
  </tbody>
</table>
